<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filteredStatus" />
      <br />
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br /><br />
      <!--The async pipe doc is https://angular.io/api/common/AsyncPipe.
          The async pipe will recognize the promise of the appStatus and watch if it has change (resolve or reject)
          and it will print this change. The pipe can work also with Observables and the changes on Subscriptions by printing data.-->
      <h2>App status: {{ appStatus | async }}</h2>
      <hr />
      <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let server of servers | filter: filteredStatus: 'status'"
            [ngClass]="getStatusClasses(server)">
          <span class="badge">
            {{ server.status }}
          </span>
          <strong>{{ server.name | shorten: 15 }}</strong> |
          {{ server.instanceType | uppercase }} |
          {{ server.started | date: 'fullDate' | uppercase }}
        </li>
      </ul>
    </div>
  </div>
</div>
